.borderShadow{
    border:1px solid;
    padding: 15px;
    box-shadow: 5px 10px #888888;
    border-radius: 25px;
    margin:15px;
}

.title{
    font-weight: bold;
    font-size: large;
    text-align: center;
}
.description{
    font-style: italic;
    font-size: medium;
}

.displayHidden{
    display:none;
}
.error {
    color: red;
  }
  
  .invalid {
    font-weight: bold;
    color: #cc0000;
  }
  
  .invalid input {
    border: 1px solid #cc0000;
  }
  span{
    font-weight: bold;
    padding-right: 5px;
  }
  .no-margin{
    margin: 0px;
  }
  .border-shadow{
    border:1px solid;
    padding: 15px;
    box-shadow: 2px 2px #888888;
    border-radius: 5px;
    margin:15px;
}

.border-shadow-selected{
  border:1px solid darkred;
  padding: 15px;
  box-shadow: 4px 4px #f56a6a;
  border-radius: 5px;
  margin:15px;
}
.scrollStyle
{
    max-height: 450px;
    overflow-y: scroll;
}